@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff80;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff80;
  }
}

body {
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}
